*~
*.ko
*.stamp-patches
*.pc
kernel/sources
kernel/.stamp-bzImage
kernel/linux-*.tar.bz2
kernel/linux/sources/
kernel/modules/atl1e/sources/
kernel/modules/e1000/sources/
kernel/modules/e1000e/sources/
kernel/modules/igb/sources/
kernel/modules/nxii/sources/
kernel/modules/r8101/sources/
kernel/modules/r8168/sources/
kernel/modules/r8169/sources/
kernel/modules/tg3/sources/
kernel/rdev/rdev
kernel/linux/linux-*.tar.bz2
build/
initrd/atftp/sources/
initrd/busybox/sources/
initrd/dm/sources/
initrd/lvm/sources/
initrd/popt/sources/
initrd/pump/sources/
initrd/sysvinit/sources/
tools/revosave/decompress
tools/revosave/decompress-bitmap
tools/revosave/decompress-test
tools/revosave/decompress-test.o
tools/revosave/decompress.o
tools/revosave/easy_sock.o
tools/revosave/image_e2fs
tools/revosave/image_e2fs.o
tools/revosave/image_fat
tools/revosave/image_fat.o
tools/revosave/image_jfs
tools/revosave/image_jfs.o
tools/revosave/image_lvm
tools/revosave/image_lvm.o
tools/revosave/image_lvmreiserfs
tools/revosave/image_lvmreiserfs.o
tools/revosave/image_ntfs
tools/revosave/image_ntfs.o
tools/revosave/image_raw
tools/revosave/image_raw.o
tools/revosave/image_swap
tools/revosave/image_swap.o
tools/revosave/image_xfs
tools/revosave/image_xfs.o
tools/revosave/liblrs.so
tools/revosave/liblrs.so.1
tools/revosave/lvm.o
tools/reiserfsprogs/sources/
tools/revosave/client.o
tools/revosave/compress.o
tools/revosave/decompress-bitmap.o
tools/autosave/autosave
tools/autorestore/autorestore
tools/bench/bench
tools/bench/compress.o
tools/bench/disk.o
tools/bench/main.o
tools/bench/nfs.o
tools/bench/advise/bench-advise
tools/bench/advise/bench-advise.o
tools/bench/inflate/bench-inflate
tools/bench/inflate/bench-inflate-zpipe
tools/bench/inflate/bench-inflate-zpipe.o
tools/bench/inflate/bench-inflate.o
tools/bench/inflate/zpipe
tools/bench/inflate/zpipe.o
tools/ntblfix/ntblfix
tools/ui_newt/server.o
tools/ui_newt/ui_newt
tools/ui_newt/ui_newt.o
bootloader/adjust_length
bootloader/adler32.o
bootloader/asm.o
bootloader/bios.o
bootloader/boot.o
bootloader/builtins.o
bootloader/builtins_pulse2.o
bootloader/char_io.o
bootloader/cmdline.o
bootloader/common.o
bootloader/console.o
bootloader/disk_io.o
bootloader/fsys_ext2fs.o
bootloader/fsys_fat.o
bootloader/graphics.o
bootloader/infblock.o
bootloader/infcodes.o
bootloader/inffast.o
bootloader/inflate.o
bootloader/inftrees.o
bootloader/infutil.o
bootloader/pci.o
bootloader/pxe.o
bootloader/revoboot.pxe
bootloader/revoboot.pxe.exec
bootloader/stage2.o
bootloader/udp.o
bootloader/zfunc.o
tools/memtest/sources/
eltorito/sources/
postinstall/chntpw/sources/
postinstall/ddrescue/sources/
postinstall/fuse/sources/
postinstall/ntfs3g/sources/
postinstall/ntfsprogs/sources/
postinstall/parted/sources/
